@import "../../config/config.scss";

.Loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  .loader-text {
    margin-right: 15px;
    font-size: 1.2em;
  }

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  
    div {
      position: absolute;
      top: 33px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $black;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
  
    div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
  
    div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
  
    div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
  
    div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* --- RESPONSIVE --- */
@media (max-width: $XS) {
  .Loader-wrapper {
    .loader-text {
      font-size: 1.1em;
    }
  
    .lds-ellipsis {
      top: 3px;
    
      div {
        width: 10px;
        height: 10px;
      }
    
      div:nth-child(1) {
        left: 5px;
      }
    
      div:nth-child(2) {
        left: 5px;
      }
    
      div:nth-child(3) {
        left: 29px;
      }
    
      div:nth-child(4) {
        left: 53px;
      }
    }
  }
}