@import "../../config/config.scss";

.CardItem-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px 0 0 20px;
  color: $text;
  text-align: left;

  &.cardItem-home-wrapper {
    width: 40%;
  }

  .cardItem-title {
    display: block;
    height: 3em;
    color: $text;
    text-align: center;
    font-size: 1.8em;
  }
  
  .text-container {
    height: 100%;

    .cover-container {
      position: relative;
      float: left;
      width: 20%;
      margin: 0 20px 20px 0;

      &:hover {
        cursor: pointer;

        .icon-zoom {
          opacity: 1;
        }

        &::after {
          opacity: 1;
        }
      }

      &::after {
        content: "";
        opacity: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $backgroundHoverZoomCover;
        transition: 0.2s ease-in-out;
      }

      .icon-zoom {
        opacity: 0;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.2s ease-in-out;
        color: $white;
      }

      .cardItem-cover {
        max-width: 100%;
        height: auto;
      }
    }
  
    .cardItem-synopsis-container {
      font-size: 1.1rem;

      .see-more-synopsis {
        color: $blueLink;
        font-size: 1.1rem;
  
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  .cardItem-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 1.5em;
    clear: both;

    .rate-container {
      display: inline;
      font-size: 1rem;
    }

    .cardItem-price-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
  
      .cardItem-price {
        margin-right: 15px;
      }
  
      .ManageItemQuantity-wrapper {
        display: inline;
      }
    }
  }
}

/* --- RESPONSIVE --- */
@media (max-width: $XS) {
  .CardItem-wrapper {
    margin: 60px 0 0 0;

    &.cardItem-home-wrapper {
      width: 100%;
      margin-left: 0;
    }

    &.cardItem-itemDetail-wrapper {
      width: 100%;
      margin-top: 0;
    }

    .cardItem-title {
      font-size: 1.5em;
    }

    .text-container {
      .cover-container {
        width: 25%;
        margin: 0 10px 0 0;
      }

      .cardItem-synopsis-container {
        margin-bottom: 0;
        font-size: 1.1em;
      }
    }

    .cardItem-footer {
      .rate-container {
        display: block;

        .rate-card-item {
          .ant-rate-star:not(:last-child) {
            margin-right: 2px;
          }
        }
      }

      .cardItem-price-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    
        .ManageItemQuantity-wrapper {
          display: block;
        }
      }
    }
  }
}
