/* --- COLORS --- */
$white                    :     #fff;
$black                    :     #000;
$whiteText                :     #cacaca;
$blackText                :     #3e3e3e;
$backgroundApp            :     #f6f6f6;
$backgroundBody           :     /* #f5f5f5*/ rgba(255, 255, 255, .5);
$backgroundHeader         :     #f5f5f5;
$backgroundHoverZoomCover :     rgba(0, 0, 0, .5);
$greySeparator            :     #b7b7b7;
$text                     :       $blackText;
$shadowHeader             :     #bbbbbb;
$blueLink                 :     #1890ff;

/* --- RESPONSIVE --- */
$XS : 375px;
$S  : 840px;
$M  : 1200px;
//$L  :
