@import "config/config.scss";

.App {
  min-height: 100vh;
  text-align: center;
  background-color: $backgroundApp;
  background-image: url('/ressources/images/books-background-left.jpg'), url('/ressources/images/books-background-right.jpg');
  background-position: left top, right top;
  background-repeat: repeat-y, repeat-y;
  background-size: 30%, 30%;

  .app-body {
    position: relative;
    width: 70%;
    min-height: calc(100vh - 100px);
    margin: auto;
    padding: 15px 40px;
    background-color: $backgroundBody;
    box-shadow: 0px 0px 10px 0px $shadowHeader;

    .copyright {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      margin: 20px 0 0;
    }
  }
}

/* --- RESPONSIVE --- */
@media (max-width: $XS) {
  .App {
    .app-body {
      width: 85%;
      min-height: calc(100vh - 80px);
      padding: 20px;
    }
  }
}

/* --- RESPONSIVE --- */
@media (min-width: $XS) {
  .ant-popover {
    width: 27%;
    min-width: 325px;
  }
}
